<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media Player</title>
</head>
<body>
<div style="display:inline-block;">
    {#To Bad#}
    <audio src="{{ url_for('index', name=sing) }}" preload="none"/>
</div>

<script src="{{ url_for('static', filename='audio.min.js') }}" type="text/javascript"></script>
<script>
    audiojs.events.ready(function () {
        var as = audiojs.createAll();
    });
</script>
</body>
</html>